In [130]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df = pd.read_csv('train.csv')

C:\Users\M-80-1\AppData\Local\Temp\ipykernel_9108\2436019669.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [4]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [30]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [333]:
dflimpia = df.drop(['ID','Customer_ID','Name','Payment_Behaviour','SSN','Type_of_Loan','Month','Credit_History_Age','Age','Monthly_Balance'], axis=1)

In [334]:
dflimpia.head()

,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Credit_Score
0,Scientist,19114.12,1824.843333,3,4,3,4,3,7,11.27,4.0,_,809.98,26.822620,No,49.574949,80.41529543900253,Good
1,Scientist,19114.12,NaN,3,4,3,4,-1,NaN,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.28022162236736,Good
2,Scientist,19114.12,NaN,3,4,3,4,3,7,_,4.0,Good,809.98,28.609352,No,49.574949,81.699521264648,Good
3,Scientist,19114.12,NaN,3,4,3,4,5,4,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.4580743910713,Good
4,Scientist,19114.12,1824.843333,3,4,3,4,6,NaN,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153086217326,Good

In [335]:
dflimpia.Occupation.unique()

array(['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

In [336]:
dflimpia.Occupation = dflimpia.Occupation.map({'Scientist': 1, '_______': 2, 'Teacher': 3, 'Engineer' : 4, 'Entrepreneur' : 5,
       'Developer' : 6, 'Lawyer' : 7, 'Media_Manager' : 8, 'Doctor' : 9, 'Journalist' : 10,
       'Manager' : 11, 'Accountant' : 12, 'Musician' : 13, 'Mechanic' : 14, 'Writer' : 15,
       'Architect' : 16})

In [337]:
dflimpia.Credit_Mix.unique()

array(['_', 'Good', 'Standard', 'Bad'], dtype=object)

In [338]:
dflimpia.Credit_Mix = dflimpia.Credit_Mix.map({'_': 1, 'Good': 2, 'Standard' : 3, 'Bad' : 4})

In [339]:
dflimpia.Credit_Score.unique()

array(['Good', 'Standard', 'Poor'], dtype=object)

In [340]:
dflimpia.Credit_Score = dflimpia.Credit_Score.map({'Good': 1, 'Standard': 2, 'Poor': 3})

In [341]:
dflimpia.Payment_of_Min_Amount.unique()

array(['No', 'NM', 'Yes'], dtype=object)

In [342]:
dflimpia.Payment_of_Min_Amount = dflimpia.Payment_of_Min_Amount.map({'No': 1, 'NM': 2, 'Yes': 3})

In [343]:
dflimpia

,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Credit_Score
0,1,19114.12,1824.843333,3,4,3,4,3,7,11.27,4.0,1,809.98,26.822620,1,49.574949,80.41529543900253,1
1,1,19114.12,NaN,3,4,3,4,-1,NaN,11.27,4.0,2,809.98,31.944960,1,49.574949,118.28022162236736,1
2,1,19114.12,NaN,3,4,3,4,3,7,_,4.0,2,809.98,28.609352,1,49.574949,81.699521264648,1
3,1,19114.12,NaN,3,4,3,4,5,4,6.27,4.0,2,809.98,31.377862,1,49.574949,199.4580743910713,1
4,1,19114.12,1824.843333,3,4,3,4,6,NaN,11.27,4.0,2,809.98,24.797347,1,49.574949,41.420153086217326,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,14,39628.99,3359.415833,4,6,7,2,23,7,11.5,3.0,1,502.38,34.663572,1,35.104023,60.97133255718485,3
99996,14,39628.99,3359.415833,4,6,7,2,18,7,11.5,3.0,1,502.38,40.565631,1,35.104023,54.18595028760385,3
99997,14,39628.99,3359.415833,4,6,5729,2,27,6,11.5,3.0,2,502.38,41.255522,1,35.104023,24.02847744864441,3
99998,14,39628.99,3359.415833,4,6,7,2,20,NaN,11.5,3.0,2,502.38,33.638208,1,35.104023,251.67258219721603,2
99999,14,39628.99_,3359.415833,4,6,7,2,18,6,11.5,3.0,2,502.38,34.192463,1,35.104023,167.1638651610451,3

In [344]:
dflimpia.dtypes

Occupation                    int64
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                    int64
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Payment_of_Min_Amount         int64
Total_EMI_per_month         float64
Amount_invested_monthly      object
Credit_Score                  int64
dtype: object

In [345]:
dflimpia.Annual_Income = dflimpia.Annual_Income.str.replace(r'[^0-9.]','',regex=True,flags=re.IGNORECASE)

In [346]:
dflimpia.Annual_Income = pd.to_numeric(dflimpia.Annual_Income)

In [347]:
dflimpia.Annual_Income.head()

0    19114.12
1    19114.12
2    19114.12
3    19114.12
4    19114.12
Name: Annual_Income, dtype: float64

In [348]:
dflimpia.Num_of_Loan= dflimpia.Num_of_Loan.str.replace(r'[^0-9.]','',regex=True,flags=re.IGNORECASE)

In [349]:
dflimpia.Num_of_Loan = pd.to_numeric(dflimpia.Num_of_Loan)

In [350]:
dflimpia.Num_of_Loan.head()

0    4
1    4
2    4
3    4
4    4
Name: Num_of_Loan, dtype: int64

In [351]:
dflimpia.Num_of_Delayed_Payment = dflimpia.Num_of_Delayed_Payment.str.replace(r'[^0-9.]','',regex=True,flags=re.IGNORECASE)

In [352]:
dflimpia.Num_of_Delayed_Payment = pd.to_numeric(dflimpia.Num_of_Delayed_Payment)

In [353]:
dflimpia.Num_of_Delayed_Payment.head()

0    7.0
1    NaN
2    7.0
3    4.0
4    NaN
Name: Num_of_Delayed_Payment, dtype: float64

In [354]:
dflimpia.Changed_Credit_Limit = dflimpia.Changed_Credit_Limit.str.replace(r'[^0-9.]','',regex=True,flags=re.IGNORECASE)

In [355]:
dflimpia.Changed_Credit_Limit = pd.to_numeric(dflimpia.Changed_Credit_Limit)

In [356]:
dflimpia.Changed_Credit_Limit.head()

0    11.27
1    11.27
2      NaN
3     6.27
4    11.27
Name: Changed_Credit_Limit, dtype: float64

In [357]:
dflimpia.Outstanding_Debt = dflimpia.Outstanding_Debt.str.replace(r'[^0-9.]','',regex=True,flags=re.IGNORECASE)

In [358]:
dflimpia.Outstanding_Debt = pd.to_numeric(dflimpia.Outstanding_Debt)

In [359]:
dflimpia.Outstanding_Debt.head()

0    809.98
1    809.98
2    809.98
3    809.98
4    809.98
Name: Outstanding_Debt, dtype: float64

In [360]:
dflimpia.Amount_invested_monthly = dflimpia.Amount_invested_monthly.str.replace(r'[^0-9.]','',regex=True,flags=re.IGNORECASE)

In [361]:
dflimpia.Amount_invested_monthly = pd.to_numeric(dflimpia.Amount_invested_monthly)

In [362]:
dflimpia.Amount_invested_monthly.head()

0     80.415295
1    118.280222
2     81.699521
3    199.458074
4     41.420153
Name: Amount_invested_monthly, dtype: float64

In [363]:
dflimpia.dtypes

Occupation                    int64
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int64
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                    int64
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Payment_of_Min_Amount         int64
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Credit_Score                  int64
dtype: object

In [364]:
dflimpia.describe()

,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Credit_Score
count,100000.000000,1.000000e+05,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,92998.000000,97909.000000,98035.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,95521.000000,100000.00000
mean,8.400890,1.764157e+05,4194.170850,17.091280,22.47443,72.466040,10.761960,21.068780,30.946268,10.465678,27.754251,2.542620,1426.220376,32.285173,2.166590,1403.118217,637.412998,2.11170
std,4.631139,1.429618e+06,3183.686167,117.404834,129.05741,466.422621,61.789933,14.860104,226.028754,6.670732,193.177339,1.015812,1155.129026,5.116875,0.923139,8306.041270,2043.319327,0.67512
min,1.000000,7.005930e+03,303.645417,-1.000000,0.00000,1.000000,0.000000,-5.000000,0.000000,0.000000,0.000000,1.000000,0.230000,20.000000,1.000000,0.000000,0.000000,1.00000
25%,4.000000,1.945750e+04,1625.568229,3.000000,4.00000,8.000000,2.000000,10.000000,9.000000,5.350000,3.000000,2.000000,566.072500,28.052567,1.000000,30.306660,74.534002,2.00000
50%,8.000000,3.757861e+04,3093.745000,6.000000,5.00000,13.000000,3.000000,18.000000,14.000000,9.400000,6.000000,3.000000,1166.155000,32.305784,3.000000,69.249473,135.925682,2.00000
75%,12.000000,7.279092e+04,5957.448333,7.000000,7.00000,20.000000,6.000000,28.000000,18.000000,14.870000,9.000000,3.000000,1945.962500,36.496663,3.000000,161.224249,265.731733,3.00000
max,16.000000,2.419806e+07,15204.633333,1798.000000,1499.00000,5797.000000,1496.000000,67.000000,4397.000000,36.970000,2597.000000,4.000000,4998.070000,50.000000,3.000000,82331.000000,10000.000000,3.00000

In [365]:
dflimpia.Monthly_Inhand_Salary = dflimpia.Monthly_Inhand_Salary.fillna(dflimpia.Monthly_Inhand_Salary.mean())

In [366]:
dflimpia.Num_of_Delayed_Payment = dflimpia.Num_of_Delayed_Payment.fillna(dflimpia.Num_of_Delayed_Payment.mean())

In [367]:
dflimpia.Changed_Credit_Limit = dflimpia.Changed_Credit_Limit.fillna(dflimpia.Changed_Credit_Limit.mean())

In [368]:
dflimpia.Num_Credit_Inquiries = dflimpia.Num_Credit_Inquiries.fillna(dflimpia.Num_Credit_Inquiries.mean())

In [369]:
dflimpia.Amount_invested_monthly = dflimpia.Amount_invested_monthly.fillna(dflimpia.Amount_invested_monthly.mean())

In [370]:
dflimpia.describe()

,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Credit_Score
count,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000
mean,8.400890,1.764157e+05,4194.170850,17.091280,22.47443,72.466040,10.761960,21.068780,30.946268,10.465678,27.754251,2.542620,1426.220376,32.285173,2.166590,1403.118217,637.412998,2.11170
std,4.631139,1.429618e+06,2935.176493,117.404834,129.05741,466.422621,61.789933,14.860104,217.971811,6.600620,191.269936,1.015812,1155.129026,5.116875,0.923139,8306.041270,1997.034517,0.67512
min,1.000000,7.005930e+03,303.645417,-1.000000,0.00000,1.000000,0.000000,-5.000000,0.000000,0.000000,0.000000,1.000000,0.230000,20.000000,1.000000,0.000000,0.000000,1.00000
25%,4.000000,1.945750e+04,1792.084167,3.000000,4.00000,8.000000,2.000000,10.000000,9.000000,5.430000,3.000000,2.000000,566.072500,28.052567,1.000000,30.306660,77.017414,2.00000
50%,8.000000,3.757861e+04,3852.736667,6.000000,5.00000,13.000000,3.000000,18.000000,15.000000,9.560000,6.000000,3.000000,1166.155000,32.305784,3.000000,69.249473,143.127915,2.00000
75%,12.000000,7.279092e+04,5371.525000,7.000000,7.00000,20.000000,6.000000,28.000000,19.000000,14.660000,9.000000,3.000000,1945.962500,36.496663,3.000000,161.224249,304.765600,3.00000
max,16.000000,2.419806e+07,15204.633333,1798.000000,1499.00000,5797.000000,1496.000000,67.000000,4397.000000,36.970000,2597.000000,4.000000,4998.070000,50.000000,3.000000,82331.000000,10000.000000,3.00000

In [371]:
corr = dflimpia.corr()
corr.style.background_gradient()

In [660]:
data_x = dflimpia.drop(['Occupation', 'Annual_Income','Num_Bank_Accounts','Num_Credit_Card','Interest_Rate','Num_of_Loan','Num_of_Delayed_Payment',
                       'Total_EMI_per_month','Amount_invested_monthly','Credit_Score'],axis=1)
data_y = dflimpia.Credit_Score

In [661]:
data_x.head()

,Monthly_Inhand_Salary,Delay_from_due_date,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount
0,1824.843333,3,11.270000,4.0,1,809.98,26.822620,1
1,4194.170850,-1,11.270000,4.0,2,809.98,31.944960,1
2,4194.170850,3,10.465678,4.0,2,809.98,28.609352,1
3,4194.170850,5,6.270000,4.0,2,809.98,31.377862,1
4,1824.843333,6,11.270000,4.0,2,809.98,24.797347,1

In [662]:
data_y.head()

0    1
1    1
2    1
3    1
4    1
Name: Credit_Score, dtype: int64

In [663]:
train_x, test_x,train_y,test_y = train_test_split(data_x,data_y,test_size=0.1)

In [664]:
kneigh = KNeighborsClassifier(n_neighbors=4)

In [665]:
kneigh.fit(train_x,train_y)

KNeighborsClassifier(n_neighbors=4)

In [666]:
y_pred_kn = kneigh.predict(test_x)

In [667]:
print(f'El Score de entrenamiento de KNN es:  {round(kneigh.score(test_x,test_y),4)*100}')

El Score de entrenamiento de KNN es:  75.13

In [668]:
tree = DecisionTreeClassifier()

In [669]:
tree.fit(train_x,train_y)

DecisionTreeClassifier()

In [670]:
y_pred_tree = tree.predict(test_x)

In [671]:
print(f'El Score de entrenamiento de KNN es:  {round(tree.score(test_x,test_y),4)*100}')

El Score de entrenamiento de KNN es:  67.33